body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.pokemon-list-yo {
  width: 30vw;
  border-right: 1px solid black;
}

.pokemon-list-card {
  background: lightblue;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}